**Q1. Write an SQL query to show only odd rows from aÂ table.**

Select * from table_name where MOD(row_number,2) = 1;

**Q2. Write an SQL query to clone a new table from another table.**

It can be done by three ways:
1) Simple Cloning - Create Table new_table select * from original table; <br>
2) Shallow Cloning - Create table new_table like original table; <br>
3) Deep Cloning - Create table new_table like original table; <br>
                 Insert into new_table select * from original_table <br>